* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div[data-id^="one" i] {
    color: orange;
}

:first-child {
    /* background-color: rgb(209, 165, 165); */
}

.box3 *:only-child {
    color: red;
}

/* 伪类选择器, 获取文档的根结点 */
:root {
    /* background-color: orange; */
}

span:first-of-type {
    margin-right: 10px;
}